<div style='position: relative; width: 100%; height: 100%;'>
  {{outlet}}

  {{#if summoningMonster}}
    {{#modal-dialog}}
      {{summon-monster summonMonster=(action 'summonMonster'
        (get model.roundOrder model.activeRoundOrder)
      )}}
    {{/modal-dialog}}
  {{/if}}

  {{#if summoningPlayerMonster}}
    {{#modal-dialog}}
      {{summon-player-monster summonPlayerMonster=(action 'summonPlayerMonster'
        (get model.roundOrder model.activeRoundOrder)
      )}}
    {{/modal-dialog}}
  {{/if}}

  <div style='display: flex; flex-direction: row;'>
    <div style='flex: 1; display: flex; flex-direction: column;'>
      <div>
        {{#each model.roundOrder as |entity|}}
          {{#unless entity.version}}
            {{entity-card
              entity=entity
              onSelect=(action 'target' entity)
            }}
          {{/unless}}
        {{/each}}
      </div>

      <hr style='width: 100%;'>

      <div>
        {{#each actionsPerMonsterType as |monster|}}
          <div>{{monster.type}}</div>
          <div style='display: flex;'>
            {{#if monster.actions.elite.length}}
              <div style='display: flex; flex-direction: column;'>
                <div>Elite:</div>
                {{#each monster.actions.elite as |eliteAction|}}
                  {{#if eliteAction.value}}
                    <div>{{eliteAction.key}}: {{eliteAction.value}}</div>
                  {{else}}
                    <div>{{eliteAction.key}}</div>
                  {{/if}}
                {{/each}}
              </div>
            {{/if}}
            {{#if monster.actions.normal.length}}
              <div style='margin-left: 20px; display: flex; flex-direction: column;'>
                <div>Normal:</div>
                {{#each monster.actions.normal as |normalAction|}}
                  {{#if normalAction.value}}
                    <div>{{normalAction.key}}: {{normalAction.value}}</div>
                  {{else}}
                    <div>{{normalAction.key}}</div>
                  {{/if}}
                {{/each}}
              </div>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>

    <div style='flex: 1;'>
      {{#each model.roundOrder as |entity|}}
        {{entity-card
          entity=entity
          activeEntity=(get model.roundOrder model.activeRoundOrder)
          targetEntity=model.targetEntity
          onSelect=(action 'target' entity)
        }}
      {{/each}}
    </div>

    <div style='flex: 1;'>
      {{#with (get model.roundOrder model.activeRoundOrder) as |entity|}}
        {{entity-card entity=entity model=model onSelect=(action 'target' entity)}}

        {{#if entity.version}}
          <button {{action 'beginSummoningMonster'}}>Summon</button>
        {{else}}
          <button {{action 'beginSummoningPlayerMonster'}}>Summon</button>
          <button {{action 'reveal'}}>Reveal</button>
        {{/if}}
      {{/with}}

      <div>Infuse</div>
      <div>
        {{#each infusions as |infusion|}}
          <button {{action (action 'infuse' infusion)}}>
            {{infusion}}
          </button>
        {{/each}}
      </div>

      <div>Consume</div>
      <div>
        {{#each infusions as |infusion|}}
          <button {{action (action 'consume' infusion)}}>
            {{infusion}}
          </button>
        {{/each}}
      </div>

      <hr>

      {{#if model.targetEntity}}
        {{entity-action-card
          entity=model.targetEntity
          damage=(action 'damage' (get model.roundOrder model.activeRoundOrder))
          heal=(action 'heal')
          toggleCondition=(action 'toggleCondition')
        }}
      {{/if}}

      <button {{action (action 'advanceRoundOrder')}}>
        Done
      </button>
    </div>
  </div>
</div>