{{#if entity.class}}
  <div style='font-weight: bold;'>{{entity.class}} - {{entity.initiative}}</div>
  <div style='margin-bottom: 20px;'>
    <div>hp: {{entity.hp}}</div>
    <div>conditions:
      {{#each entity.conditions as |condition|}}
        {{condition}}
      {{/each}}
    </div>
  </div>
{{else if entity.type}}
  <div style='font-weight: bold;'>{{entity.type}} - {{entity.initiative}}</div>
  <div style='margin-bottom: 20px;'>
    <div>standee: {{entity.standee}}</div>
    <div>hp: {{entity.hp}}</div>
    <div>conditions:
      {{#each entity.conditions as |condition|}}
        {{condition.shorthand}}
      {{/each}}
    </div>
    {{#each entity.actions as |monsterAction|}}
      <div>{{monsterAction}}</div>
    {{/each}}
  </div>
{{/if}}