{{#if entity.version}}
  <div style='font-weight: bold;'>{{entity.type}} - {{entity.version}} - {{entity.initiative}}</div>
  <div style='margin-bottom: 20px;'>
    <div>standee: {{entity.standee}}</div>
    <div>hp: {{entity.hp}}</div>
    <div>conditions:
      {{#each entity.conditions as |condition|}}
        {{condition.shorthand}}
      {{/each}}
    </div>
    {{#each monsterActions as |monsterAction|}}
      {{#if monsterAction.value}}
        <div>{{monsterAction.key}}: {{monsterAction.value}}</div>
      {{else}}
        <div>{{monsterAction.key}}</div>
      {{/if}}
    {{/each}}
  </div>
{{else}}
  <div style='font-weight: bold;'>{{entity.type}} - {{entity.initiative}}</div>
  <div style='margin-bottom: 20px;'>
    <div>hp: {{entity.hp}}</div>
    <div>conditions:
      {{#each entity.conditions as |condition|}}
        {{condition}}
      {{/each}}
    </div>
  </div>
{{/if}}