<div>Tile: {{model.reveal}}</div>

<div>Tile image, doors, unit positions</div>

<div>Monsters</div>

{{#each monsterTokens as |monsterToken|}}
  <div>{{monsterToken.type}}</div>
  {{#if monsterToken.elite.length}}
    <div>Elite ({{monsterToken.elite.length}}):</div>
    {{#each monsterToken.elite as |elite|}}
      {{elite}}
    {{/each}}
  {{/if}}
  {{#if monsterToken.normal.length}}
    <div>Normal ({{monsterToken.normal.length}}):</div>
    {{#each monsterToken.normal as |normal|}}
      {{normal}}
    {{/each}}
  {{/if}}
{{/each}}

<button {{action (action 'nextStage')}}>
  Done
</button>