<div>
  <div>It's dangerous to go alone</div>
</div>

<div>
  {{player-setup model=model index=0 onChange=(action 'setPlayer')}}
  {{player-setup model=model index=1 onChange=(action 'setPlayer')}}
  {{player-setup model=model index=2 onChange=(action 'setPlayer')}}
  {{player-setup model=model index=3 onChange=(action 'setPlayer')}}
</div>

{{#power-select
  disabled=insufficientPlayers
  options=scenarios
  placeholder='Traveling to...'
  selected=model.scenario
  onchange=(action 'setScenario')
  as |scenario|
}}
  {{scenario.number}} - {{scenario.location}} - {{scenario.title}}
{{/power-select}}

{{#if model.scenario}}
  <div>Requirements: {{model.scenario.requirements}}</div>
  <div>Linked areas: {{model.scenario.links}}</div>
  <div>Map tokens:</div>
  {{#each model.scenario.mapTokens as |mapToken|}}
    <div>{{mapToken}}</div>
  {{/each}}
  <div>Introduction:</div>
  {{#each model.scenario.introduction as |introduction|}}
    <div>{{introduction}}</div>
  {{/each}}
  <div>Goal: {{model.scenario.goal}}</div>
  <div>
    <div>Monster level: {{model.monsterLevel}} ({{recommendedMonsterLevel}} is recommended)</div>
    <button {{action (action 'adjustMonsterLevel' -1)}}>-</button>
    <button {{action (action 'adjustMonsterLevel' 1)}}>+</button>
  </div>
  <div>
    <div>Trap damage: {{model.trapDamage}}</div>
    <div>Gold per token: {{model.goldPerToken}}</div>
    <div>XP bonus: {{model.bonusXp}}</div>
  </div>

  <button {{action (action 'nextStage')}}>
    Done
  </button>
{{/if}}
