<div>
  <div>Image</div>
  <div>{{player.type}}</div>
</div>
<input type='number' required
  value={{player.initiative}}
  disabled={{isLongRest}}
  oninput={{action (action 'setInitiative' value='target.value')}}
>
<input type='checkbox'
  label='Long rest'
  checked={{isLongRest}}
  onclick={{action (action 'setLongRest') value='target.checked'}}
>