<div>Class</div>
{{#each types as |type|}}
  <button {{action (action 'setType' type)}}>
    {{type}}
  </button>
{{/each}}

{{#if player.type}}
  <div>Level</div>
  {{#each levels as |level|}}
    <button {{action (action 'setLevel' level)}}>
      {{level}}
    </button>
  {{/each}}
{{/if}}

<div>
  {{player.hp}}
</div>
